.canvas{
    /* position: absolute;
    top: 60px;
    left: 20vw; */
    padding: 30px 10px 10px;
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    overflow-y: auto !important;

  }