@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap');

.sidebar {
    display: flex;
    flex-direction: column;
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 15vw;
    max-height: 100vh !important;
    height: fit-content;
    transition: width 0.3s ease;
    /* border-right: 1px solid #DBDBDB; */
    background-color: transparent;
    align-items: baseline;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar{
  display: none;
}


  
.sidebar.collapsed {
    width: 60px;
  }


.menuDiv{
  margin: 30px 10px;
}  
.menuItem.collapsed {
  opacity: 0;
  pointer-events: none;
}  

.menuItem{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #787486;
  margin: 5px 0;

}  
.menuImg{
  width: 24px;
  height: auto;
  margin: 10px;
}
.toggleBtn {
  /* position: absolute;
  top: 0;
  right: 0;  */
  font-size: 30px;
  border: none;
  cursor: pointer;
  color:#787486;
  margin: 0 20px;
  height: fit-content;
}
  

.rule{
  width: 85%;
  margin: 0 auto;
  border: 1px solid #DBDBDB;
}

  /* Logo */

.logo{
  height: 60px;
  display: flex;
  margin: 10px 0;
  align-items: center;
  border-bottom: 1px solid #DBDBDB;

}  
.logoImg{
    width: 24px;
    height: 24px;
    margin: 10px;
  }
  
.logoHead{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #0D062D;
  height: fit-content;
  }
  
/* projects */

.projectDiv{
  margin: 30px 10px;
}  
.projectsHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.projectsHead h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #787486;
  margin: 0 10px;
}
.addImg{
  width: 16px;
  height: 16px;
}
.dot1{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #7AC555;
  margin: 10px;
}
.dot2{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFA500;
  margin: 10px;
}
.dot3{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #E4CCFD;
  margin: 10px;
}
.dot4{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #76A5EA;
  margin: 10px;
}
.projectItem{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}
.projectName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #787486;
}

/* thoughts */
.thoughtsDiv{ 
  text-align: center;
  margin: 50px 10px;
}
.bulbContainer{
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(252, 214, 74, 0.7);
  filter: blur(17px);
  margin: -33px auto 20px;
  }
.bulbContainer img{
 
}
.thoughtsInner{
  background-color: #F5F5F5;
  border-radius: 16px;
  width: 13vw;
  padding: 15px;
}
.thoughtsText{
  width: 11vw;
}
.thoughtsText p{

  word-wrap: normal;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #787486;

}
.thoughtsText h5{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.thoughtsText input{
  width: 11vw;
  background-color: #ffffff;
}





  